body  {
    font-family: sans-serif;
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.jacky-balfour  {
    display: inline-block;
    margin: 60px;
    color: black;
    font-family: 'Great Vibes', cursive, sans-serif; 
    font-size: 40px;
}

a   {
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 15px;
}

nav {
    background-color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px;
    z-index: 2;
}

li  {
   list-style: none;
   display: inline-block;
   padding: 15px;
}

header, ul   {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    border: 0px;
    background-color: white;
    top: 0px;
    height: 50px;
}

.selected   {
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

p  {
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    font-weight: bolder;
}

.italic  {
    font-style: italic;
}
.herelink  {
    font-style: italic;
    text-decoration: underline;
}
footer  {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

.icon-section  {
    height: 10%;
    width: 10%;
    object-fit: contain;
    padding-top: 60px;
}

.form   {
    margin: 10px auto;
    border: 2px solid black;
    padding: 10px;
}

label   {
    display: block;
}

input, textarea  {
    display: block;
    width: auto;
}

.textocentrado  {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container   {
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}

.contact-box  {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field  {
    background-color: white;
    font-family: sans-serif;
    width: 250px;
    padding: 20px;
	border: 1px solid black;
    margin-bottom: 20px;
    transition: 0.3s;
}
button {
    text-align: center;
	padding: 10px;
	width: 99%;
    background-color: transparent;
	display: flexbox;
    justify-content: center;
    align-items: center;
	border: 1px solid black;
	border-radius: 4px;
    color: black;
	font-size: 0.8rem;
    transition: color 0.2s;
    margin-bottom: 20px;
    font-family: sans-serif;
}

button:hover  {
    background-color:  black;
    color: white; 
}

.titulo  {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

label {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.wrap-texto  {
    position: absolute;
    z-index: 0;
    font-size: 60px;
    left: calc(50% - 260px);
    top: calc(50% - 35px);
}

.wrap-texto h2 {
    margin: 0px;
}

.wrap-photo   {
    position: relative;
    z-index: 1;
}
.clear  {
    padding-bottom: 1px;
    position: relative;
}
.wrap   {
    position: relative;
}
.uppercase  {
    text-transform: uppercase;
}
.web{
    margin-top: 30px;
    width: 70%;
    height: auto;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/work3.jpg);
    background-position: center;
    background-size: cover;
}
.webtext{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: white;
}
.web:hover{
    box-shadow: 0 0 0 270px rgba(0, 0, 0, 0.8) inset;
}
.web:hover .webtext{
    opacity: 1;
    transform:scale(1);
    color: white;
}

.web2{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    height: auto;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/work4.jpg);
    background-position: center;
    background-size: cover;
}
.webtext{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: white;
}
.web2:hover{
    box-shadow: 0 0 0 270px rgba(0, 0, 0, 0.8) inset;
}
.web2:hover .webtext{
    opacity: 1;
    transform:scale(1);
    color: white;
}





@media (max-width: 750px) {
    .jacky-balfour  {
        display: inline-block;
        margin: 15px;
        color: black;
        font-family: 'Great Vibes', cursive, sans-serif; 
        font-size: 25px;
    }
    a   {
        font-size: 15px;
        padding: 5px;
    }
    .wrap-texto  {
        font-size: 30px;
        left: calc(50% - 130px);
}
}

@media (min-width: 600px) {
    img {
        width: 20%;
    }
}   